---
import CabinetMenu from '@/components/shared/topMenu/CabinetMenu.astro'
import Layout from '@/layouts/Layout.astro'
import CabinetLeft from '@/components/shared/cabinetLeft/CabinetLeft'

const list = [
	{
		"date": "Сегодня в 21:49",
		"status": "Заявка принята к рассмотрению",
		"description": "Ваша заявка успешно отправлена и проходит проверку на соответствие требованиям Премии.",
		"is_highlighted": true
	},
	{
		"date": "Сегодня в 18:20",
		"status": "Заявка передана на оценку",
		"description": "Ваша заявка прошла проверку и передана экспертам для рассмотрения.",
		"is_highlighted": true
	},
	{
		"date": "Сегодня в 14:05",
		"status": "Требуется доработка заявки",
		"description": "Внесите изменения по замечаниям и отправьте заявку повторно.",
		"is_highlighted": true
	},
	{
		"date": "Сегодня в 14:05",
		"status": "Требуется доработка заявки",
		"description": "Заявка возвращена на доработку",
		"is_highlighted": false
	},
	{
		"date": "3 дня назад",
		"status": "Заявка передана на оценку",
		"description": "Ваша заявка прошла проверку на соответствие требованиям и передана экспертам для дальнейшего рассмотрения.",
		"is_highlighted": false
	},
	{
		"date": "5 дней назад",
		"status": "Заявка не прошла в финал",
		"description": "По результатам экспертной оценки заявка не была допущена к финальному этапу Премии. Благодарим за участие и проявленный интерес — вы можете подать новую заявку в рамках следующих этапов или с обновлённым проектом.",
		"is_highlighted": false
	}
]
---

<Layout noindex={true}>
	<section class='content flex flex-col'>
		<CabinetMenu type="lightBg" />

		<div class="flex lg:pt-18 pt-4 -mb-20">
			<CabinetLeft/>
			<div class="flex-1 -mx-2.5 px-2.5 lg:px-5 lg:-mx-5 overflow-hidden md:overflow-visible">
				<div class={'flex flex-col lg:mb-25 text-text-base w-full'}>
					<div class={'text-[22px] lg:text-[32px] mb-7 lg:mb-8 font-medium text-accent'}>Уведомления</div>
					<div class="flex flex-col gap-5.5 lg:gap-7">
						{list.map((item, index) => <div :key="index" class="border-b pb-4 lg:pb-7 border-[#D2D6DF] last:border-none" >
							<p class="lg:text-[13px] text-[8px] mb-2 text-left text-[#717b95]">{item.date}</p>
							<p class={`lg:text-2xl text-base mb-0.5 lg:mb-2.5 font-medium text-left ${!item.is_highlighted? 'text-[#949494]': 'text-accent'}`}>
								● {item.status}
							</p>

							<p class="lg:text-lg text-[10px] text-left text-text-base">
								{item.description}
							</p>
						</div>)}
					</div>
				</div>

			</div>
		</div>
	</section>
</Layout>


