---
import CabinetMenu from '@/components/shared/topMenu/CabinetMenu.astro'
import Layout from '@/layouts/Layout.astro'
import CabinetLeft from '@/components/shared/cabinetLeft/CabinetLeft'
import MyOrders from '@/components/shared/myOrders/MyOrders'
import MyNomination from '@/components/shared/myNomination/MyNomination'

---

<Layout noindex={true}>
	<section class='content flex flex-col'>
		<CabinetMenu type="lightBg" />

		<div class="flex lg:pt-18 pt-4 -mb-20">
			<CabinetLeft/>
			<div class="flex-1 -mx-2.5 px-2.5 lg:px-5 lg:-mx-5 overflow-hidden md:overflow-visible">
				<MyOrders/>
				<MyNomination/>
			</div>
		</div>
	</section>
</Layout>
