---
import RegularMenu from '@/components/shared/topMenu/RegularMenu.astro'
import Layout from '@/layouts/Layout.astro'
import { RestoreForm } from '@/components/auth/restoreForm/RestoreForm'
import { PATHS } from '@/configs/paths'
import { createServerApi } from '@/lib/api/server'

export const prerender = false

const serverApi = createServerApi({
	origin: Astro.url.origin,
	cookieHeader: Astro.request.headers.get('cookie') ?? '',
})

const profileResult = await serverApi.users.getProfile()

if (profileResult.status === 'ok') {
	return Astro.redirect(PATHS.root)
}
---

<Layout noindex={true}>
	<section class='content flex flex-col'>
		<RegularMenu type='lightBg' />
		<div
			class='inner-content grid grid-cols-1 min-[1000px]:grid-cols-2 gap-[50px] items-start justify-start gap-y-[60px]'
		>
			<div class='flex flex-col justify-start'>
				<h1>Восстановление<br />пароля</h1>
				<div class='max-w-[430px] mt-[30px]'>
					Введите email, указанный при регистрации. Мы отправим ссылку для создания нового пароля.
				</div>
			</div>
			<div>
				<RestoreForm client:load />
			</div>
		</div>
	</section>
</Layout>
