---
import { TOP_MENU_LINKS, type TopMenuLink } from '../data/menuLinks'

type Props = {
	type?: 'sticky' | 'lightBg'
	links?: TopMenuLink[]
}
const { type, links = TOP_MENU_LINKS } = Astro.props as Props

const isSticky = type === 'sticky'
const isLightBg = type === 'lightBg'

const darkText = isSticky || isLightBg
---

<div
	class=`hidden min-[1350px]:flex flex-row justify-end items-center gap-[50px] font-medium ${darkText ? "" : "text-white-text"}`
>
	{
		links.map(link => (
			<a
				href={link.href}
				class='text-[14px] leading-[14px] text-link'
			>
				{link.label}
			</a>
		))
	}
</div>
