---
import Layout from '../layouts/Layout.astro'
import CountdownTimer from '@/components/shared/CountdownTimer'
import RegularMenu from '@/components/shared/topMenu/RegularMenu.astro'

---

<Layout noindex={true}>
	<section class='content flex flex-col'>
        <RegularMenu type='lightBg' />
		<CountdownTimer client:load />
	</section>
</Layout>
