---
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<section class='content min-h-[60vh] flex items-center justify-center text-center'>
		<div class='inner-content'>
			<h1>Пусто</h1>
			<div class='mt-[12px] text-[20px] leading-[1.4] text-[#152551] max-[700px]:text-[16px]'>
				На главной странице пока ничего нет.
			</div>
		</div>
	</section>
</Layout>
