---
import { PATHS } from '@/configs/paths'
---

<div
	class='flex flex-row flex-wrap justify-start min-[767px]:justify-center min-[1150px]:flex-col min-[1150px]:justify-start gap-x-[36px] min-[1150px]:gap-x-[50px] gap-y-[20px] text-white-text text-[14px]'
>
	<a
		href='/#nominations'
		class='text-link'
		>Номинации</a
	>
	<a
		href='/#steps'
		class='text-link'
		>Этапы</a
	>
	<!-- <a
		href={PATHS.experts.root}
		class='text-link'
		>Эксперты</a
	>
	<a
		href={PATHS.news.root}
		class='text-link'
		>Новости</a
	> -->
	<a
		href='/#docs'
		class='text-link'
		>Документы</a
	>
	<!-- <a
		href={PATHS.press}
		class='text-link'
		>Для СМИ</a
	> -->
</div>
