---
import { PATHS } from '@/configs/paths'
---

<div
	class='flex flex-row flex-wrap justify-start min-[767px]:justify-center min-[1150px]:flex-col min-[1150px]:justify-start gap-x-[36px] min-[1150px]:gap-x-[50px] gap-y-[20px] text-white-text text-[14px]'
>
	<a
		href={PATHS.participantForm}
		class='text-link'
		>Подать заявку</a
	>
</div>
